name: Check Ktlint

on:
  pull_request:
    types: [ opened, synchronize, ready_for_review, reopened ]

jobs:
  gradleValidation:
    name: Gradle Validation
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Sources
        uses: actions/checkout@v3
      - name: Gradle Wrapper Validation
        uses: gradle/actions/wrapper-validation@v4

  check:
    name: Check Kotlin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'adoptium'
      - name: Cache Gradle dependencies
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Gradle Wrapper Permissions
        run: chmod +x gradlew
      - name: Run ktlintCheck
        run: ./gradlew ktlintCheck
